<!DOCTYPE html>
<html lang="en" ng-app="parliamentsAdminApp">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Parliaments Admin</title>
  <meta name="description" content="">
  <meta name="author" content="Daniel Kokott, Berlingske Media">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- Custom -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-resource.min.js"></script>
  <script src="app.js"></script>

</head>
<body>

  <div id="navigation">
    <a href="#top">Top</a>
    <a href="#kandidater">Kandidater</a>
    <a href="#offices">Ministerier</a>
    <a href="#regeringer">Regeringer</a>
  </div>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="top" class="container">
    <div class="row" ng-controller="CandidatesController">
      <div class="twelve columns">
        <h4 id="kandidater">Kandidater</h4>
        <button ng-click="showSection = !showSection" ng-hide="showSection">Vis</button>
        <button ng-click="showSection = !showSection" ng-show="showSection">Skjul</button>
        <div ng-show="showSection">
          <label for="filterCandidates">Filter</label>
          <input class="u-full-width" type="text" placeholder="Navn..." id="filterCandidates" ng-model="filterCandidates">
          <table class="u-full-width">
            <thead>
              <tr>
                <th>Id</th>
                <th>Navn</th>
                <th>Billede</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="candidate in candidates | filter:filterCandidates">
                <td>{{candidate.id}}</td>
                <td>{{candidate.name}}</td>
                <td><img src="{{candidate.image}}" title="{{candidate.image}}"></td>
                <td><button class="button-primary" ng-click="deleteCandidate(candidate.id, $index)">Slet</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row" ng-controller="OfficesController">
      <div class="twelve columns">
        <h4 id="offices">Ministerier</h4>
        <button ng-click="showSection = !showSection" ng-hide="showSection">Vis</button>
        <button ng-click="showSection = !showSection" ng-show="showSection">Skjul</button>
        <div ng-show="showSection">
          <p>Sort</p>
          <label for="filterOffices">Filter</label>
          <input class="u-full-width" type="text" placeholder="Navn..." id="filterOffices" ng-model="filterOffices">
          <table class="u-full-width">
            <thead>
              <tr>
                <th>id</th>
                <th>Navn</th>
                <th>Sort</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="office in offices | filter:filterOffices">
                <td>{{office.office.id}}</td>
                <td>{{office.office.name}}</td>
                <td><input type="number" ng-model="office.office.sort" ng-blur="send()" max="100" min="1" /></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row" ng-controller="ParliamentsController">
      <div class="twelve columns">
        <h4 id="regeringer">Regeringer</h4>
        <button ng-click="showSection = !showSection" ng-hide="showSection">Vis</button>
        <button ng-click="showSection = !showSection" ng-show="showSection">Skjul</button>
        <div ng-show="showSection">
          <label for="filterParliaments">Filter</label>
          <input class="u-full-width" type="text" placeholder="Navn..." id="filterParliaments" ng-model="filterParliaments">
          <table class="u-full-width">
            <thead>
              <tr>
                <th>uuid</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="parliament in parliaments | filter:filterParliaments">
                <td>{{parliament.uuid}}</td>
                <td><button ng-click="showParliament(parliament.id)">Vis</button></td>
                <td><button class="button-primary" ng-click="deleteParliament(parliament.uuid, $index)">Slet</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>